.App {
  text-align: center;
}
.description-box {
  margin: auto;
  width: 50%;
}
.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}
.search-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 15px
}